
.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

/*js letras*/
/*saida das letras*/
.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

/*entrada das letras*/

.change-text h3 .word .letter.in {
    transition: .38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}
